.photo-grid {
    padding: 92px 0 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: fit-content(284px) fit-content(284px) fit-content(284px) fit-content(284px);
    grid-template-rows: fit-content(213px) fit-content(213px) fit-content(213px);
    gap: 16px;
    justify-content: center;
    max-width: calc(100vw - 96px);
    max-width: 1184px;
  }

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px);
    grid-template-rows: fit-content(225px) fit-content(225px) fit-content(225px) fit-content(225px);
    gap: 14px;
    }
  }

@media screen and (max-width: 928px) {
  .photo-grid {
    padding: 88px 0 0;
    grid-template-columns: fit-content(352px) fit-content(352px);
    grid-template-rows: fit-content(264px) fit-content(264px) fit-content(264px) fit-content(264px) fit-content(264px) fit-content(264px);
    gap: 16px;
    max-width: calc(100vw - 48px);
    }
  }

@media screen and (max-width: 320px) {
  .photo-grid {
    padding: 64px 0 0;
    grid-template-columns: fit-content(288px);
    grid-template-rows: repeat(12, fit-content(216px));
    gap: 12px;
    max-width: calc(100vw - 32px);
    min-width: 288px;
    }
  }