.footer__column {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

@media screen and (max-width: 715px) {
    .footer__column {
      flex-direction: column;
    }
  }