.cover {
  width: calc(100vw - 96px);
  
  margin: 92px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: calc(100vw - 14px);
    margin: 90px auto;
      }
}
    
@media screen and (max-width: 768px) {
  .cover {
    width: 100vw;
    margin: 90px 0;
      }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100vw;
    margin: 66px 0;
      }
}