.cover__background {
  position: relative;
  z-index: 0;
}

.cover__background::after {
  content: "";
  background-image: url(../../../images/sprint-3-images/cover-trains.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 62.5%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cover__background:hover {
  opacity: 0.8;
}