.cover__title {
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    z-index: 2;
  }

@media screen and (max-width: 550px) {
    .cover__title {
      width: 288px;
      font-size: 32px;
      line-height: 35px;
        }
  }